# 🛠 Node.js
node_modules/
package-lock.json

# 🔐 Variables de entorno
.env
.env.*  # incluye .env.local, .env.development, etc.

# 🐞 Logs y errores
logs/
*.log
npm-debug.log*

# 🧪 Archivos de test o backups
*.test.js
*.spec.js
*.bak
*~

# 🧠 Configuraciones del editor
.vscode/
.idea/
*.swp
*.swo

# 💻 Archivos del sistema
.DS_Store
Thumbs.db

